<hou-header></hou-header>
<div class="container pb-5">

  <div class="jumbotron shadow-sm border">

    <h2>Angular CLI v6 + Bootstrap & FontAwesome & Material Angular</h2>
    <p>
      In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome and material angular!
    </p>
        <h3>Raised Buttons</h3>
        <div class="example-button-row">
          <button mat-raised-button class="m-1">Basic</button>
          <button mat-raised-button color="primary" class="m-1">Primary</button>
          <button mat-raised-button color="accent" class="m-1">Accent</button>
          <button mat-raised-button color="warn" class="m-1">Warn</button>
          <button mat-raised-button disabled class="m-1">Disabled</button>
          <a mat-raised-button href="#" class="m-1">Link</a>
        </div>
  </div>


  <div class="card-deck mb-5">

      <mat-card class="card">
        <img class="card-img-top" src="assets/images/etc/snow.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </mat-card>

      <mat-card class="card">
        <img class="card-img-top" src="assets/images/etc/tropical-beach.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </mat-card>

      <mat-card class="card">
        <img class="card-img-top" src="assets/images/etc/early-sunrise.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </mat-card>
      
    </div>

</div>
<hou-footer></hou-footer>